/* General styling */
.App {
  text-align: center;
}

.App-body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  color: white;
  padding: 1rem;
}

/* Content */
.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendar {
  margin-top: 1rem;
}

/* Misc */
.link-button {
  background: none !important;
  border: none;
  padding: 0 !important;
  font-family: arial, sans-serif;
  color: rgb(24, 135, 191);
  text-decoration: underline;
  cursor: pointer;
  font-size: 1em;
}

/* Questions styling */
.question-wrapper {
  display: flex;
  font-size: 1em;
}

.question-wrapper>.question {
  margin-right: 1rem;
}

.question-wrapper>.answer.positive {
  color: greenyellow;
}

.question-wrapper>.answer.negative {
  color: red;
}

.question-wrapper>.answer.unsure {
  color: orange;
}

/* Calendar styling */
.react-calendar .react-calendar__navigation {
  margin-bottom: 0;
}

.react-calendar__month-view__weekdays__weekday {
  color: black;
  text-decoration-color: black;
}

.react-calendar__tile.calendar-tile-working {
  background-color: #ffbebe;
}

.react-calendar__tile.calendar-tile-working:enabled:hover,
.react-calendar__tile.calendar-tile-working:enabled:focus {
  background-color: #f5e3e3;
}

.react-calendar__tile.calendar-tile-day-off {
  background-color: #d1ffbe;
}

.react-calendar__tile.calendar-tile-day-off:enabled:hover,
.react-calendar__tile.calendar-tile-day-off:enabled:focus {
  background-color: #eafbe2;
}
